@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}

:root {
    --text-main-color: #ffffff;
    --text-hightlight: #ee10b0;
    --background-main: #49293f;
    --background-color-item: #1e1e1e;
}

div.wrapper {
    display: flex;
    background-color: var(--background-main);
}

div.navBar {
    /* width: 266px;
    height: 2400px ; */
    background-color: #0e1920;
    
}

div.navBar li {
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 20px;
    font-size: 17px;
}

div.navBar li:hover {
    background-color: #EE10B0;
    color: #1e1e1e;
    border-radius: 20px;
    cursor: pointer;
}

div.navBar p {
    background: #121FCF;
    background: linear-gradient(to right, #EE10B0 0%, #0E9EEF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    padding-top: 45px;
    padding-left: 25px;
    padding-right: 15px;
}

div.menu p {
    font-size: 25px;
    color: #ff3780;
    padding-bottom: 20px;
}

div.menu ul {
    list-style: none;
    padding-left: 25px;
    color: #ffffff;
    display: flex;
    gap: 12px;
    flex-direction: column;
}

div.menu img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


div.box__right {
    background-image: linear-gradient(to right,#0c0b0b,#000000);
    
    width: 100%;
    margin: 20px 20px;
}



div.slider__center {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/464/420/36/5c1ca4b1bf4c2-wallpaper-preview.jpg);
    /* width: 100%;
    height: 500px; */
    background-repeat: no-repeat;
    background-size: cover;
}

div.slider__top {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

div.ti-arrow-left {
    font-size: 30px;
    transition: transform .2s;
}

div.ti-arrow-left:hover {
    cursor: pointer;
    transform: scale(1.3);
}

div.slider__top--right {
    display: flex;
    gap: 30px;
    align-items: center;
}

div.slider__top--right img {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    transition: transform .2s;
}

div.slider__top--right img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

div.slider__top--right a {
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;  
    transition: transform .2s;
}

div.slider__top--right a:hover {
    cursor: pointer;
    transform: scale(1.2);
}

div.slider__bottom p {
    padding-left: 4%;
    padding-top: 30%;
    font-size: 55px;
    font-weight: bold;
    padding-bottom: 100px;
}

div.content__boxRight {
    padding-top: 30px;
    padding-left: 10px;
}

div.artirst__albums--list,
div.single__songs--lists,
div.artirst__playlist--lists
{
    display: flex;
    gap: 70px;
    align-items: center;
}

div.artirst__albums--item,
div.single__songs--item,
div.artirst__playlist--item
{
    background-color: var(--background-color-item);
    border: 1px solid var(--background-color-item);
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

div.artirst__albums--item:hover,
div.single__songs--item:hover,
div.artirst__playlist--item:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

div.artirst__albums--icon,
div.single__songs--icon,
div.artirst__playlist--icon
{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    align-items: center;
}

div.artirst__albums--item p,
div.single__songs--item p,
div.artirst__playlist--item p
{
    color: var(--text-main-color);
    font-size: 15px;
    padding-left: 5px;
}

div.oval {
    background-color: #1e1e1e;
    border: 1px solid black;
    border-radius: 50px;
    width: 63px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.single__songs--item {
    width: 171px;
}

div.single__songs--item img {
    padding: 8px 0 5px 12px;
}

div.artirst__playlist--icon {
    padding-top: 15px;
}

div.artirst__fanListen--lists {
    display: flex;
    align-items: center;
    gap: 90px;
}

div.artirst__fanListen--item{
    transition: transform .2s;
}

div.artirst__fanListen--item:hover{
    transform: scale(1.1);
    cursor: pointer;
}

div.artirst__fanListen--item p {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-main-color);
}

div.popular__music {
    padding-top: 40px;
}

div.popular__tittleMusic {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    margin-left: 32%;
    width: 658px;
    gap: 381px;
}

div.popular__musicInfo--name .name-main {
    font-size: 20px;
    font-weight: bold;
}

div.popular__tittleMusic p {
    color: var(--text-main-color);
    font-size: 20px;
    font-weight: bold;
}

div.popular__music {
    padding-top: 40px;
    padding-bottom: 30px;
}

div.popular__musicItem {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    padding-top: 10px;
}

div.popular__musicInfo {
    display: flex;
    width: 95%;
    background-color: var(--background-color-item);
    
    align-items: center;
}


div.popular__musicInfo--name {
    width: 28%;
    margin-left: 10px;
}

.popular__musicInfo--date {
    width: 38%;
}

.popular__musicInfo--played {
    width: 34%;
}

div.popular__musicInfo--time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
div.popular__musicInfo--name p {
    color: var(--text-main-color);
    font-size: 15px;
}

.popular__musicInfo--date ,
.popular__musicInfo--played ,
div.popular__musicInfo--time p
{
    color: var(--text-main-color);
}

div.artirst__albums,
div.single__songs,
div.artirst__playlist,
div.artirst__fanListen,
div.footer
{
    padding-left: 60px;
    padding-top: 50px;
}

div.footer {
    margin-top: 100px;
    /* width: 100%; */
    display: flex;
    gap: 30px;
    padding-bottom: 50px;

}

div.about {
    width: 300px;
}

div.type {
    display: flex;
    gap: 20px;
}

 div.type .titlefooter {
    font-size: 45px;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 10px;
}
div.type p {
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
}

div.iconFooter p {
    background: linear-gradient(to right, #EE10B0 0%, #0E9EEF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

div.iconSocial {
    display: flex;
    gap: 20px;
}

div.iconSocial img {
    transition: transform .2s;
}

div.iconSocial img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

div.iconFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 200px;
}


    
