@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}
div.main {
    display: flex;
}
div.navBar {
    /* width: 266px; */
    background-color: #0e1920;
}
div.navBar li {
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 20px;
    font-size: 17px;
}
div.navBar li:hover {
    background-color: #EE10B0;
    color: #1e1e1e;
    border-radius: 20px;
    cursor: pointer;
}
div.navBar p {
    background: #121FCF;
    background: linear-gradient(to right, #EE10B0 0%, #0E9EEF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 55px;
    padding-top: 45px;
    padding-left: 10px;
    margin-right: 15px;
}

div.menu p {
    font-size: 30px;
    color: #ff3780;
    padding-bottom: 20px;
    padding-left: 25px;
    margin-right: 15px;
    padding-top: 45px;
}

div.menu ul {
    list-style: none;
    padding-left: 25px;
    color: #ffffff;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

div.menu img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

div.boxRight2 {
    background-color: #49293f;
    width: 100%;
}

div.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    padding: 0 10px;
    
}

.ti-search {
    padding-left: 3px;
}

div.searchBar input {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

div.searchBar {
    display: flex;
    gap: 5px;
    width: 359px;
    height: 38px;
    background-color: #ffffff;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

div.navHeader ul {
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
}

div.navHeader li {
    color: #fbe4d8;
    font-weight: bold;
    font-size: 24px;
    transition: transform .2s;
}

div.navHeader li:hover {
    transform: scale(1.3);
    cursor: pointer;
}

div.btn {
    display: flex;
    gap: 8px;
    height: 38px;
}

div.btn button {
    width: 119px;
    border: 1px solid black;
    border-radius: 10px;
    color: #ee10b0;
    background-color: #1e1e1e;
    font-weight: bold;
}

div.btn button:hover {
    background-color: #ee10b0;
    color: #1e1e1e;
    cursor: pointer;
}

div.content2 {
    margin-top: 50px;
    padding-left: 80px;     
}

div.musicGenres {
    height: 230px;
}

div.listMusicGenres div.itemMgenres {
    width: 230px;
    height: 170px;
    border: 1px solid black;
    border-radius: 5px;
    transition: transform .2s;
}

div.listMusicGenres div.itemMgenres:hover {
    transform: scale(1.1);
    cursor: pointer;
}

div.listMusicGenres {
    display: flex;
    gap: 40px;
    position: relative;
    align-items: center;

}

div.musicGenres p {
    padding-bottom: 20px;
}

div.musicGenres div.itemMgenres p {
    position: absolute;
    color: #ffffff;
}

div.moodPlaylist
{
    margin-top: 80px;
}

div.moodItem {
    background-color: #1e1e1e;
    border: 1px solid black;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

div.moodItem:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

div.moodItem div.para {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;

}

div.moodItem div.para p {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
}

div.moodItem div.para img {
    background-color: #EE10B0;
    border-radius: 7px 2px;
    padding-right: 3px;
}

div.moodlists {
    display: flex;
    gap: 40px;
    padding-top: 20px;
    align-items: center;
}

div.oval {
    background-color: #1e1e1e;
    border: 1px solid black;
    border-radius: 50px;
    width: 63px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.popularArt {
    margin-top: 80px;

}

div.popularItems {
    padding-top: 20px;
    display: flex;
    gap: 50px;
    align-items: center;
}

div.popularItems div.popularItem p {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

div.popularItem {
    text-align: center;
    transition: transform .2s;
}

div.popularItem:hover {
    cursor: pointer;
    transform: scale(1.2);
}

div.musicVid {
    padding-top: 80px;
}

div.musicVidItem {
    display: flex;
    align-items: center;
}

div.musicVidItem div.group1 {
    display: flex;
    gap: 50px;
    padding: 20px 15px 0 0;

}

div.musicVidItem div.group2 {
    display: flex;
    gap: 50px;
    padding-top: 15px;
}

div.itemvidMusic {
    background-color: #1e1e1e;
    transition: transform .2s;
}

div.itemvidMusic:hover {
    transform: scale(1.1);
    cursor: pointer;
}

div.musicVidItem p {
    color: #ffffff;
    padding-left: 5px;
}

div.itemvidMusic .nameVid {
    font-size: 20px;
    font-weight: bold;
}

div.itemvidMusic div.viewVid {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
}

div.newRelease {
    padding-top: 80px;
}

div.listNRsongs {
    display: flex;
    gap: 10px;
}

div.listNRsongs {
    display: flex;
    gap: 50px;
    align-items: center;
}

div.songItem {
    width: 180px;
    height: 220px;
    background-color: #1f1f1f;
    /* flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px; */
    text-align: center;
    border-radius: 10px;
    
}

div.songItem :hover {
    /* transform: scale(1.1); */
} 

div.songItem img {
    padding-top: 5px;
}

div.songItem p {
    color: #fff;
    padding-top: 3px;
}

div.contentSong1 .name {
    font-size: 15px;
    font-weight: 200;
}

div.contentSong1 {
    font-size: 19px;
    font-weight: bold;
}

div.newAlbum {
    padding-top: 40px;
}

div.listNewAlbum {
    display: flex;
    gap: 20px;
}

div.topAlbum {
    margin-top: 40px;
}

div.listTalbum div.topAlbumitem {
    background-color: #1e1e1e;
    border: 1px solid black;
    border-radius: 7px;
    width: 185px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

div.listTalbum div.topAlbumitem:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

div.topAlbumitem p {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}

div.topAlbumitem div.iconTopalbum p {
    font-size: 13px;
    padding-top: 3px;
}

div.topAlbumitem div.iconTopalbum {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

div.listTalbum {
    display: flex;
    gap: 50px;
    padding-top: 20px;
    align-items: center;
}

div.footer {
    margin-top: 100px;
    padding-left: 10px;
    width: 100%;
    display: flex;
    gap: 30px;
    padding-bottom: 50px;

}

div.about {
    width: 300px;
}

div.type {
    display: flex;
    gap: 20px;
}

div.type .titlefooter {
    font-size: 45px;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 10px;
}

div.type p {
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
}

div.iconFooter p {
    background: linear-gradient(to right, #EE10B0 0%, #0E9EEF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

div.iconSocial {
    display: flex;
    gap: 20px;
}

div.iconSocial img {
    transition: transform .2s;
}

div.iconSocial img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

div.iconFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 200px;
}