:root {
    --text-main-color:  #f5d7db;
    --text-hightlight: #ee10b0;
    --background-main: #473e66;
    --background-color-item: #1e1e1e;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.modal.open {
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.modal__body {
    margin: auto;
    z-index: 1;
    position: relative;
}
/* authen modal */

.auth-form {
    width: 500px;
    overflow: hidden;
    background-color:var(--background-main);
    border-radius: 5px;

}

.auth-form__container {
    padding: 0 32px;
    animation: modalFacein ease .4s;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 700;
    color: #f1916d;
}

.auth-form__swich-btn {
    font-size: 1.6rem;
    color: #06142e;
    font-weight: 400;
    transition: transform .2s;
}

.auth-form__swich-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.auth-form__form {
    margin-top: 50px;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.1rem;
    background-color: #1b3358;
    color: #f5d7db;
    border: 1px solid #bd83b8;
    border-radius: 10px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #ee10b0;
}

.auth-form__aside {
    margin-top: 10px;
}

.auth-form__policy-text {
    font-size: 1rem;
    color: #f5d7db;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: #bd83b8;
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;

}

.btn-modal {
    min-width: 150px;
    height: 36px;
    background-color: #1e1e1e;
    color: #ee10b0;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    outline: none;
}

.btn-modal:hover {
    background-color: #ee10b0;
    color: #1e1e1e;
    cursor: pointer;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    padding: 12px 36px;
    background-color: #06142e;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btns.btn--with-icon {
    min-width: 210px;
    height: 40px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btns.btn--with-icon.face {
    background-color: rgb(76, 76, 199);

}

.btns.btn--with-icon.Google {
    background-color: rgb(249, 45, 45);
}

.auth-form__socials-icon {
    font-size: 1.5rem;
    padding-right: 5px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;

}

.auth-form__help-text {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--text-main-color);
    cursor: pointer;
}

.auth-form__help-text:hover {
    filter: brightness(150%);
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid black;
    height: 30px;
    margin: 0 16px;
}

@keyframes modalFacein {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}