@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;

    
} 

div.container {
    display: flex;
}

div.navBar {
    width: 266px;
    height: 3800px;
    background-color: #0e1920;
    
}

div.navBar li {
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 20px;
    font-size: 17px;
}

div.navBar li:hover {
    background-color: #EE10B0;
    color: #1e1e1e;
    border-radius: 20px;
    cursor: pointer;
}


div.navBar .tittlePage {
    background: #121FCF;
    background: linear-gradient(to right, #EE10B0 0%, #0E9EEF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 55px;
    padding-top: 45px;
    padding-left: 10px;
    margin-right: 15px;
}

div.menu p {
    font-size: 30px;
    color: #ff3780;
    padding-bottom: 20px;
    padding-left: 25px;
    margin-right: 15px;
    padding-top: 45px;
}


div.menu ul {
    list-style: none;
    padding-left: 25px;
    color: #ffffff;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

div.menu img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

div.boxRight {
    background-color: #49293f;
    width: 100%;
    height: 3800px;
}

div.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    padding: 0 10px;
}

.ti-search {
    padding-left: 3px;
}

div.searchBar input {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

div.searchBar {
    display: flex;
    gap: 5px;
    width: 359px;
    height: 38px;
    background-color: #ffffff;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

div.navHeader ul {
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
}

div.navHeader li {
    color: #fbe4d8;
    font-weight: bold;
    font-size: 24px;
    transition: transform .2s;
}

div.navHeader li:hover {
    transform: scale(1.3);
    cursor: pointer;
}

div.btn {
    display: flex;
    gap: 8px;
    height: 38px;
}

.slice {
    position: relative;
}

.introduce {
    color: #ffffff ;
    position: absolute;
    top: 8px;
    left: 16px;
    width: 250px;
}

div.btn button {
    width: 119px;
    border: 1px solid black;
    border-radius: 10px;
    color: #ee10b0;
    background-color: #1e1e1e;
    font-weight: bold;
}

div.btn button:hover {
    background-color: #ee10b0;
    color: #1e1e1e;
    cursor: pointer;
}

div.slice {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    align-items: center;
    padding: 0 20px;
}

div.slideMain {
    width: 100%;
    position: relative;
}

div.control img{
    transition: transform .2s;
}

div.control img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

div.introduce {
    position: absolute;
}

div.groupBtn2 {
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

div.groupBtn2 button {
    width: 127px;
    height: 41px;
    border: 1px solid #EE10B0;
    border-radius: 10px;
    background-color: #1e1e1e;
    color: #ee10b0;
    cursor: pointer;
}

div.groupBtn2 button:hover {
    background-color: #EE10B0;
    color: #1e1e1e;
}

div.content {
    margin-top: 50px;
    padding-left: 85px;
}



div.songItem {
    width: 180px;
    height: 220px;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

div.songItem:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

div.songItem p {
    color: #ffffff;
}

div.contentSong1 {
    font-size: 19px;
    font-weight: bold;
}
div.contentSong1 .name {
    font-size: 15px;
    font-weight: 200;
}

div.listWsongs {
    display: flex;
    gap: 30px;
    align-items: center;
}

div.oval {
    background-color: #1e1e1e;
    border: 1px solid black;
    border-radius: 50px;
    width: 63px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.newRelease {
    padding-top: 45px;
}

div.listNRsongs {
    display: flex;
    gap: 30px;
    align-items: center;
}

div.trendSong {
    padding-top: 50px;
    width: 100%;
    position: relative;

}

div.titleTable {
    width: 100%;
}

div.titleTable ul {
    /* padding-top: 15px; */
    margin-bottom: 10px;
    display: flex;
    list-style: none;
    /* gap: 60px; */
    position: absolute;
    margin-left: 35%;
    width: 700px;
    justify-content: space-between;
}

div.titleTable li {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

div.contentTrendAll {
    padding-top: 30px;
}

div.contentTrend {
    /* background-color: #ffffff; */
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 10px;
}

div.infoSongs div.name p{
    font-size: 15px;
}

div.infoSongs div.name .nameRank {
    font-size: 21px;
    font-weight: bold;
}

div.infoSongs p {
    color: #ffffff;
}

div.infoSongs {
    background-color: #000;
    display: flex;
    gap: 90px;
    align-items: center;
    width: 90%;
}

div.viewBig {
    background-color: #000;
    width: 216px;
    height: 63px;
    margin-left: 40%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

div.viewbottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.popularArt {
    margin-top: 40px;
    
}

div.popularItems {
    padding-top: 20px;
    display: flex;
    gap: 50px;
    align-items: center;
}

div.popularItems div.popularItem p {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

div.popularItem {
    text-align: center;
}

div.popularItem img {
    transition: transform .2s;
}

div.popularItem img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

div.musicVideo {
    margin-top: 50px;
}

div.itemMV div.mv {
    width: 300px;
    height: 255px;
    background-color: #1f1f1f;
}

div.mv {
    transition: transform .2s;
}

div.mv:hover {
    cursor: pointer;
    transform: scale(1.1);
}

div.mv p {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 5px;
}
div.mv .views {
    margin-left: 70%;
}


div.itemMV {
    display: flex;
    gap: 50px;
    padding-top: 20px;
    align-items: center;
}

div.topAlbum {
    margin-top: 40px;
}

div.listTalbum div.topAlbumitem {
    background-color: #1e1e1e;
    border: 1px solid black;
    border-radius: 7px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

div.listTalbum div.topAlbumitem:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

div.topAlbumitem p {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}

div.topAlbumitem div.iconTopalbum p {
    font-size: 13px;
    padding-top: 3px;
}

div.topAlbumitem div.iconTopalbum {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

div.listTalbum {
    display: flex;
    gap: 40px;
    padding-top: 20px;
    align-items: center;
}

div.moodPlaylist {
    margin-top: 40px;
}

div.moodItem {
    background-color: #1e1e1e;
    border: 1px solid black;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

div.moodItem:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

div.moodItem div.para {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    
}

div.moodItem div.para p {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
}

div.moodItem div.para img {
    background-color: #EE10B0;
    border-radius: 7px;
    padding-right: 3px;
}

div.moodlists {
    display: flex;
    gap: 40px;
    padding-top: 20px;
    align-items: center;
}

div.infomation {
    justify-content: space-between;
    display: flex;
    width: 85%;
    margin-top: 20px;
}

div.infoJoin {
    margin-top: 40px;
}

div.infoLeft {
    width: 500px;
    height: 93px;
}

div.infoLeft p {
    font-size: 20px;
    color: #ffffff;
    word-spacing: 2px;
}

div.infoRight {
    width: 400px;
    display: flex;
    gap: 10px;

}

div.infoRight button {
    width: 187px;
    height: 53px;
    background-color: #1e1e1e;
    color: #EE10B0;
    border-radius: 10px;
}

div.infoRight button:hover {
    background-color: #EE10B0;
    color: #1e1e1e;
    cursor: pointer;
}

div.footer {
    margin-top: 100px;
    padding-left: 25px;
    width: 100%;
    display: flex;
    gap: 30px;

}

div.about {
    width: 300px;
}

div.type {
    display: flex;
    gap: 20px;
}

 div.type .titlefooter {
    font-size: 45px;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 10px;
}
div.type p {
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
}

div.iconFooter p {
    background: linear-gradient(to right, #EE10B0 0%, #0E9EEF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

div.iconSocial {
    display: flex;
    gap: 20px;
}

div.iconSocial img {
    transition: transform .2s;
}

div.iconSocial img:hover {
    transform: scale(1.2);
}

div.iconFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 200px;
}

div.contentTrend div.infoSongs .name {
    width: 15%;
}

div.contentTrend div.infoSongs .date {
    width: 10%;
}

div.contentTrend div.infoSongs .titleAlbum {
    width: 30%;
    text-align: center;
}

